<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymleaf.com">
	
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, intial-scale-1">
		<title>Book Store</title>
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
	
	</head>
	
	<body>
		
		<nav class="navbar navbar-expand-lg navbar-light bg-dark">
			
			<div class="container-fluid">
				
				<a class="navbar-brand text-white" href="#">Book Store</a>
				
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					
					<span class="navbar-toggler-icon"></span>
					
				</button>
				
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						
						<li class="nav-item">
							
							<a class="nav-link active text-white" href="/">Home</a>
							
						</li>
						
						<li class="nav-item">
							
							<a class="nav-link text-white" href="available_books">Available Books</a>
							
						</li>
						
						<li class="nav-item">
							
							<a class="nav-link text-white" href="my_books">My Books</a>
							
						</li>
						
					</ul>
					
					<div>
						
						<a class="nav-link text-white" href="book_register">New Book Register</a>
						
					</div>
					
				</div>
				
			</div>
			
		</nav>
		
		<div class="container my-5">
			
			<h2 class="text-center">Welcome To Book Store</h2>
			
			<div class="row">
				
				<div class="col-lg-6">
				
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla efficitur nibh ut massa dictum, a viverra justo pharetra. Praesent dictum, massa at ornare fermentum, augue quam malesuada nisl, ac bibendum nisi turpis non nibh. Phasellus venenatis dolor eu sapien hendrerit pulvinar. Nullam lobortis mi sed felis pharetra, non tempus augue convallis. Pellentesque ipsum urna, tincidunt in sagittis a, tempus ac risus. Curabitur in nisi eleifend, pharetra mauris ac, volutpat justo. Morbi nunc turpis, varius eget turpis ac, viverra feugiat sem. Aliquam rhoncus, est sit amet porta accumsan, elit nibh venenatis diam, ut ultrices dolor neque quis ex. Duis venenatis non tellus ac euismod. Aenean sed leo facilisis, sollicitudin ex nec, laoreet purus. Phasellus vitae ipsum sit amet ipsum convallis rhoncus. Fusce mattis consectetur ex non viverra. Mauris in tempor ligula. Quisque dui nisl, tempus non pharetra et, facilisis a felis. Mauris mattis pharetra convallis.
					</p>
				
					<p>
						Cras vitae consequat tellus. Vivamus mauris massa, semper vitae ullamcorper eget, volutpat ut velit. Nullam et nisi at tortor blandit finibus et in quam. Aliquam blandit est ut lorem pulvinar rhoncus. In hac habitasse platea dictumst. Donec blandit turpis dolor. Mauris auctor erat eu interdum rutrum. Nullam mattis mi et elit mattis rutrum. Duis quis sollicitudin ipsum. Nullam at aliquam erat. Nam eget nisl ipsum. Aliquam vitae molestie nisi, quis tristique dui. Ut sodales facilisis consectetur.
					</p>
				
				</div>
			
				<div class="col-lg-6 d-flex justify-content-center">
					
					<img src="/images/book.png" width="360px"/>
					
				</div>
				
			</div>
			
		</div>
		
	
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"></script>
	
	</body>
	
</html>